<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      </div>
        {% for beverages in all_beverages %}
        <div>
            ・{{beverages.title}}
            :{{beverages.body}}
        </div>
        {% endfor %}
<div>
    <br>合計金額<br>
            ・{{price}}円
</div>
      <form action="/clear" method="POST">
        <input type="submit" value="checkout">
      </form>
    </section>
  </body>
</html>