<!DOCTYPE html>
<html>
    <head>
        <title>beverages order.net</title>
    </head>
     <a href="/logout">ログアウトする</a>
    <body>
    <h1>メニュー表</h1>
        {% for beverages in all_beverages %}
        <div>
            <input type="checkbox" name="add" form="add" value={{beverages.id}}>
            {{beverages.title}}：{{beverages.body}}
        </div>
        {% endfor %}
    <form action="/order" method="post">
        <input type="submit" value="注文する">
    </form>
    <form action="/add" method="post" id="add">
        <input type="image" src="templates/images/app.jpg" value="買い物かごに追加する">
    </form>
    </body>
</html>